<% if (!user) { %>
	<p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
	<% for(var i in obj) { %>
		<table>
			<tr>
				<th><% i %></th>
				<td><% obj[i] %></td>
			</tr>
		</table>
	<% } %>
<% } %>