<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta charset="utf-8">
<link href="/css/style.css" rel="stylesheet" media="all" />
</head>
<body>
<h1><%= title %></h1>
<h2>Your name:   <%- user.name %></h2>
<a href="/logout">logout</a>

</body>
</html>