
            <!-- .footer-container -->
            <div class="footer-container clearfix">
                
                <footer class="wrapper">
                    <!-- begin copyright -->
										Copyright &copy; 2013 All Rights Reserved  Theme.
										<!-- end copyright -->

					
                </footer>
            </div>
            <!-- end .footer-container -->

        </div>
        <!-- end #page -->

	<script type='text/javascript' src='/blog/lib/fitvids/jquery.fitvids.js?ver=1.0'></script>
<script type='text/javascript' src='/blog/js/jquery.masonry_min.js?ver=1.5.21'></script>
<script type='text/javascript' src='/blog/js/jquery.imagesloaded.min.js?ver=1.5.21'></script>
<script type='text/javascript' src='/blog/js/main.js?ver=1.0'></script>

</body>
</html>